//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-

h3
   | Model Catalog
.modelcatalog
   .panel
      spinner(ng-show='state.isPending()')
      div(ng-if='state.isLoaded()')
         .models
            div(ng-if='!models.length')
               h4 No available models
            div(ng-if='models.length')
               section.search
                  search-bar
                  .divider
            table.table-striped.list(ng-show='models.length', ng-table="tableParams", class="table")
               tr(ng-repeat="model in $data")
                  td(data-title="'Name'" sortable="'name'")
                     | {{model.name}}
                  td(data-title="'Added Date'" sortable="'addedOn'") {{ model.addedOn }}
                  td(data-title="'Method'" sortable="'algorithm'") {{ model.algorithm }}
                  td(data-title="'Type'" sortable="'type'") {{ model.creationTool }}
                  td
                     a(ui-sref='app.modelcatalog.model({modelId: model.id})') See details &raquo;