//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
spinner(ng-show='state.isPending()')
div(ng-show='state.isLoaded()')
    h3
        | {{app.name}} {{app.version}}
    .versiontracking.content
        spinner(ng-if='state.isPending()')
        h4.state State: 
            span {{ app.state.toLowerCase() }}
        .metrics
            h4 Metrics
            table.table.app
                tr
                    td Memory:
                    td
                        | {{ app.memory }}
                tr
                    td Disk quota:
                    td
                        | {{ app.disk_quota }}
        h4 Details
        table.table.app
            tr
                td Guid:
                td
                    | {{ app.guid }}
            tr
                td Created at:
                td
                    | {{ app.created_at | date: 'yyyy-MM-dd h:mm:ss a'}}
            tr
                td Updated at:
                td
                    | {{ app.updated_at | date: 'yyyy-MM-dd h:mm:ss a'}}
            tr
                td Created by:
                td
                    | {{ app.created_by }}
            tr
                td Updated by:
                td
                    | {{ app.updated_by }}
            tr
                td Url:
                td
                    | {{ app.urls }}
            tr
                td Image address:
                td
                    | {{ app.image_address }}
            tr
                td Image type:
                td
                    | {{ app.image_type || "-" }}
