//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
div
    h4.state State:
        span.fa-exclamation-triangle(ng-if='$ctrl.checkStatusProblem()')
            | No running instances
        span.fa-check(ng-if='!$ctrl.checkStatusProblem() && !$ctrl.isAppStateSetTo("FAILURE") && !$ctrl.isAppStateSetTo("STOPPED")')
            | {{ $ctrl.application.state }}
        span.red-state(ng-if='!$ctrl.checkStatusProblem() && $ctrl.isAppStateSetTo("FAILURE")')
            | {{ $ctrl.application.state }}
        span.fa-stop.red-state(ng-if='!$ctrl.checkStatusProblem() && $ctrl.isAppStateSetTo("STOPPED")')
            | {{ $ctrl.application.state }}
        button.btn.btn-primary.fa-refresh.app-refresher(ng-click='$ctrl.onRefresh()') Refresh page

    h4 Actions
    div.actions
        button.btn.btn-primary.fa-times(ng-click='$ctrl.onDelete()') Delete
        button.btn.btn-primary.fa-play(ng-click='$ctrl.onStart()'
                ng-disabled="$ctrl.application.state === $ctrl.ApplicationStates.RUNNING") Start
        button.btn.btn-primary.fa-stop(ng-click='$ctrl.onStop()'
                ng-disabled="$ctrl.application.state === $ctrl.ApplicationStates.STOPPED") Stop
        button.btn.btn-primary.fa-refresh(ng-click='$ctrl.onRestage()'
                ng-disabled="$ctrl.application.state !== $ctrl.ApplicationStates.RUNNING") Restart

    h4 Metrics
    table.table.metrics
        tr
            td Memory:
            td {{ $ctrl.application.memory }}
        tr
            td Disk quota:
            td {{ $ctrl.application.disk_quota }}


    h4 Details
    table.table
        tr
            td Running instances:
            td
                | {{ $ctrl.application.running_instances }} / {{ $ctrl.application.replication }}
        tr
            td Domains:
            td
                div(ng-repeat='url in $ctrl.application.urls')
                    a(ng-href='{{ url | ensureProtocol }}') {{ url }}
        tr
            td Runtime environment:
            td.runtime-environment(ng-if="$ctrl.application.imageType")
                | {{ $ctrl.application.imageType | lowercase }}
            td(ng-if="!$ctrl.application.imageType")
                = '<unknown>'
        //tr
            td Services bound:
            td
                div(ng-repeat='instance in $ctrl.getAppInstances()')
                    a(ng-href="{{ instance.dashboard_url }}", ng-if='instance.dashboard_url') {{ instance.name }}
                    span(ng-if='!instance.dashboard_url') {{ instance.name }}

        tr(ng-show="$ctrl.application.metadata")
            td Metadata:
            td
                a(ng-hide='envVisible', ng-click='envVisible = true') Show data
                a(ng-show='envVisible', ng-click='envVisible = false') Hide data
                ul.env-list(ng-show='envVisible')
                    li(ng-repeat='meta in $ctrl.application.metadata')
                        span {{ meta.key }}
                        = ': '
                        | {{ meta.value || '&lt;empty&gt;' }}

        tr
            td Created:
            td
                | {{ $ctrl.application.auditTrail.createdOn * 1000 | date:'medium' }}
                = ' by '
                | {{ $ctrl.application.auditTrail.createdBy }}
        tr
            td Last update:
            td
                | {{ $ctrl.application.auditTrail.lastUpdatedOn * 1000 | date:'medium' }}
                = ' by '
                | {{ $ctrl.application.auditTrail.lastUpdateBy }}
