//
   Copyright (c) 2016 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.instance-details
    h3 Instances: {{serviceInstance.name}}
    spinner(ng-show='state.isPending() || deleteState.isPending()')
    .panel(ng-show='state.isLoaded() && deleteState.isDefault()')
        button.btn.btn-primary.fa-refresh.app-refresher(ng-click='reload()') Refresh page
        instance-state(instance="serviceInstance")

        h4 Actions
        div.actions
            instance-actions(instance="serviceInstance" on-delete="deleteWithConfirmation()" on-start="start()"
                on-stop="stop()" on-restart="restart()")
            button.btn.btn-primary(
                ng-if='canCreateNewInstance()'
                ui-sref='app.service({offeringId: serviceInstance.offeringId})')
                | Create new instance

        h4 Metadata
        table.table
            tr
                td Offering name
                td {{serviceInstance.serviceName}}
            tr
                td Instance name
                td {{serviceInstance.name}}
            tr
                td State
                td {{serviceInstance.state}}
            tr
                td Plan instantiated
                td {{serviceInstance.planName}}
            tr
                td Created on
                td {{serviceInstance.auditTrail.createdOn * 1000 | date:'medium'}} by {{serviceInstance.auditTrail.createdBy}}
            tr(ng-if='getLogin(serviceInstance)')
                td Login
                td {{ getLogin(serviceInstance) }}
            tr(ng-if='getPassword(serviceInstance)')
                td Password
                td
                    input.password-view.input-pass(type="text", ng-disabled="!showPass", readonly="readonly", ng-value="showPass ? getPassword(serviceInstance) : '****************'", disabled="disabled")
                    button.password-view.btn-pass(type="button", class="btn btn-sm", ng-class="!showPass ? 'btn-success' : 'btn-warning'"
                    ng-click="showPass = !showPass") {{ !showPass ? 'Show' : 'Hide' }}
            tr(ng-if='getUrl(serviceInstance)')
                td Url
                td
                    a(href='{{ getUrl(serviceInstance) | ensureProtocol }}', target="_blank")
                        | {{ getUrl(serviceInstance) }}

    .panel.panel-warning(ng-show='state.isError()')
        .panel-heading Error loading content
        .panel-body Service instance page is unavailable

script(type="text/ng-template", id="confirm-delete")
    .ngdialog-message.clearfix
        | {{ serviceInstance.name }}
        p
            | Are you sure you want to delete
            = ' '
            b {{ data.instance }}
            | ?
        .pull-right
            button.btn.btn-primary(type='button', ng-click='confirm()') Delete
            button.btn.btn-default(type='button', ng-click="cancel()") Cancel